:root {
    /* primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);

    /* main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);

    /* darkest grey -  headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
        color: var(--clr-grey-3);
    }

    h3 {
        font-size: 1.5rem;
        color: var(--clr-grey-3);
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/*  global classes */

/* section */
.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

/****Navbar****/
nav {
    background: var(--clr-grey-1);
    box-shadow: var(--light-shadow);
    width: 100%;
}

.react-slideshow-container .default-nav {
    visibility: hidden;
}

.footer-date {
    background: var(--clr-grey-1);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 5%
}

.nav-header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%
}

.nav-toggle {
    font-size: 2rem;
    color: var(--clr-white);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    box-shadow: 0 0 4px #00235B;
    border-radius: 0;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-red-dark);
    transform: rotate(90deg);
}

.product-a, .product-b, .each-slide-effect {
    width: 800px;
    height: 300px;

}

.logo {
    height: 50px;
    float: left;
}

li {
    margin: 5px;
}

.links-container {
    width: 100%;
}

.links {
    justify-content: space-around;
    width: 100%;

}

.links a {
    color: var(--clr-grey-10);
    width: 100px;
    font-size: 1rem;
    font-family: "Segoe UI";
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.form-label {
    text-align: left;
}

.social-icons {
    display: none;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-container {
    height: 10rem;
}



.nav-bag {
    display: flex;
    align-items: center;
}

.bag-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #F0A04B;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-left: 5px;
}

/* Home */
.product-info{
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: space-between;
}
.home-container {
    padding: 2rem 4rem;
}
.home-container h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding:20px
}
.products  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    width: 250px;
    max-width: 100%;
    height: 400px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product h3 {
    font-size: 25px;
    font-weight: 700;
    paddig:10px;
}
.product img {
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.product .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .details .price {
    font-size: 20px;
    font-weight: 700;
}
.product button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}

.iPhones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.iPhone {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 15px;
    width: 250px;
    max-width: 100%;
    height: 400px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

.phone-price{
    display: flex;
    font-weight:700;
    justify-content: space-between;

}
.variant-size{
    display: flex;
    font-weight:700;
    justify-content: space-between;
}
.iPhone h3 {
    font-size: 25px;
    font-weight: 700;
    paddig:10px;
}
.iPhone .price{
    background-color:gold;
    padding: 3px;
    border-top: 2px solid black;
}
.iPhone img {
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.iPhone .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid gold;
    padding: 5px;
    box-shadow: 0 0 2px #5555;
    border-radius: 5px;

}
.iPhone .details .price {
    font-size: 20px;
    font-weight: 700;
}
.iPhone button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #00235B;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}


/* Cart */
.container-cart {
    padding: 2rem 4rem;
}

.container-cart h2 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.container-cart .titles {
    margin: 2rem 0 1rem 0;
}

.container-cart .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-item,
.container-cart .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart-item {
    border-top: 1px solid rgb(187, 187, 187);
    padding: 1rem 0;
}

.container-cart .titles .product-title {
    padding-left: 0.5rem;
}

.container-cart .titles .total {
    padding-right: 0.5rem;
    justify-self: right;
}

.cart-item .cart-product {
    display: flex;
}

.cart-item .cart-product img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
}

.cart-item .cart-product h3 {
    font-weight: 400;
}

.cart-item .cart-product button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: gray;
}

.cart-item .cart-product button:hover {
    color: black;
}

.cart-item .cart-product-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.cart-item .cart-product-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.cart-item .cart-product-quantity .count {
    padding: 0.7rem 0;
}

.cart-item .cart-product-total-price {
    padding-right: 0.5rem;
    justify-self: right;
    font-weight: 700;
}

/* cart summary */
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 2rem;
}

.cart-summary .clear-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(177, 177, 177);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart-checkout {
    width: 270px;
    max-width: 100%;
}

.cart-checkout .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-checkout .amount {
    font-weight: 700;
}

.cart-checkout p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}

.cart-checkout button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: goldenrod;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}

.continue-shopping,
.start-shopping {
    margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
    margin-left: 0.5rem;
}

.cart-empty {
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Responsive */

@media (max-width: 665px) {
    /* NavBar */
    .nav-bar {
        padding: 0 1rem;
    }
    .nav-bar h2 {
        font-size: 30px;
    }

    /* Cart */
    .cart-container {
        padding: 2rem;
    }
    .cart-container .titles {
        display: none;
    }
    .cart-item,
    .cart-container .titles {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .cart-item .cart-product-total-price {
        justify-self: left;
    }
    .cart-summary {
        flex-direction: column;
    }
    .cart-summary .clear-btn {
        margin-bottom: 2rem;
    }

}





@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;

    }

    .links {
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }

    .container-home {
        display: inline-block;
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .product-info{
        visibility: hidden;
    }
    .grid {
        display: inline-block;
        width: 100%
    }

    .grid-card {
        margin-bottom: 25px;
    }

    .container-card {
        flex-direction: column;
        width: 100%;
    }

    .grid-productCard {
        display: inline-block;
        width: 100%;
        background-color: inherit;
        padding: 10%
    }

    .grid-productTable {
        visibility: hidden
    }

    .grid-table {
        width: 100%
    }

    .grid-form {
        display: inline-block;
        width: 100%
    }

    .grid-signup-form {
        display: inline-block;
        width: 100%
    }

    .grid-login-form {
        display: inline-block;
        width: 100%
    }
}
/*Pages Login */
.login {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper {
    width: 60%;
    height: 75%;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    border-radius: 20px;

}


.left,.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.or{
    border: 2px solid  #00235B;
    border-radius: 50%;
    padding: 10px;
    color: white;
    background-color: #00235B;
    font-weight: bold;
}

.line{
    width: 3.5px;
    height: 20%;
    background-color:  #00235B;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.google{
    background-color: #df4930;
}
.facebook{
    background-color:  #00235B;
}


.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input{
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submit{
    width: 200px;
    background-color:  #00235B;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.submit:hover{
    background-color: green;
}
.loginTitle{
    position: absolute;
    top: 430px;
    margin-bottom: 20px;
    color: #00235B;
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width: 992px) {

    .wrapper {
        width: 65%;
        height: 60%;
        flex-direction: column;
    }

    .loginTitle {
        display: none;
    }

    .center {
        width: 100%;
        position: relative;
    }

    .left {
        padding: 20px;
    }

    .right {
        padding: 20px;
    }

    .line {
        height: 0.5px;
        width: 200px;
    }
    .loginImage{
        width:25%;
        padding-bottom: 64%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }
}
